<launch>
<!-- Start tilt joint controller -->
    <rosparam file="$(eval find('ee_keyboard_control') + '/config/belt_motor.yaml')" command="load"/>
    <node name="controller_spawner_belt" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                belt_motor_61_controller
                "
          output="screen"/>
</launch>
