<launch>
    <rosparam file="$(find ee_keyboard_control)/config/flower_claw.yaml" command="load"/>
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
      args="--manager=dxl_manager
            --port gummi_d
            claw_motor_71_controller
            claw_motor_72_controller
            claw_motor_73_controller
            "
          output="screen"/>

</launch>
